body{
  font-family: sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 


/* */
.menuitemshape{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
} 


/*
product page 
*/
.pageframe{
  padding: .5rem 3rem;
  width: 100%;
  background-color: #F1F1F1;
}
.pageproduct h1{
  font-weight: 400;
}
.card-product-list{
  background-color: white;
  border-radius: 15px;
  border: 1px solid #D6D6D6;
}
.filter-product-bar{
  display: flex;
  justify-content: space-between;
  padding: .9rem  1rem;
  align-items: center;
  flex-wrap: wrap;
}
.filter-product-bar ul{
  display: flex;
  gap: 1rem;
  margin: .2rem 0rem;
}
.filter-product-bar ul li{
  list-style: none;
  padding: .6rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}
.filter-product-bar ul li:hover{
  background-color: #a9a9a9;
}
.activefilter{
  background-color: #a9a9a9;
}
.notactivefilter{
  background-color: #EDEDED;
}
.add-product{
  display: flex;
  align-items: center;
  gap: .5rem;
  background-color: black;
  border-radius: 15px;
  color: #F3F3F5;
  padding: .6rem 1.1rem;
  cursor: pointer;
}
.filter-product-bar a{
  text-decoration: none;
}
.product-table{
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
.product-table th{
  text-align: start;
  background-color: #F4F4F4;
  padding: .5rem 1rem;
  font-weight: 600;
}
.product-table td{
  text-align: start;
  padding: .5rem 1rem;
}
.statusactive{
  background-color: #B3FDD1;
  border-radius: 20px;
  text-align: center;
  padding: .3rem .8rem;
  color: #00461c;
}
.statusdraft{
  background-color: #f582758c;
  border-radius: 20px;
  text-align: center;
  padding: .3rem .8rem;
  color: #001031;
}
.custom-header-class{
  background-color: #68CC45;
}

/* select page */

.parts{
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 15px;
  gap: 15px;
}
.backspace{
  display: flex;
  align-items: center;
  flex-direction : row;
  gap: 10px;
  margin-top: 25px;
  height: 30px;
  width: "auto";
}
.left-side-part{
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.left-side-p1 {
  border: 1px solid #D6D6D6;
  background-color: #fff;
  padding: 20px;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.left-side-p2 {
  border: 1px solid #D6D6D6;
  background-color: #fff;
  padding: 20px;
  border-radius: 11px;
  display: grid;
  gap: 15px;
}
.left-side-p3 {
  border: 1px solid #D6D6D6;
  background-color: #fff;
  padding: 20px;
  border-radius: 11px;

}
.right-side-p1 {
  border: 1px solid #D6D6D6;
  background-color: #fff;
  padding: 20px;
  border-radius: 11px;
  display: grid;
  grid-template-columns: 1fr;
  gap:  15px;
}
.right-side-p2 {
  border: 1px solid #D6D6D6;
  background-color: #fff;
  padding:  18px 10px 18px 10px;
  border-radius: 11px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}
.right-side-p3 {
  border: 1px solid #D6D6D6;
  background-color: #fff;
  padding: 20px;
  border-radius: 11px;
}
.fieldtxt{
  border: 1px solid #D6D6D6;
  border-radius: 8px;
  padding: 8px 5px 8px 5px;
}
.cardtypeB{
  display : flex;
  flex-direction: 'row' ;
  align-items: center;
  justify-content: center;

  padding: 8px 5px 8px 5px;
  border: 1px solid #D6D6D6;
  border-radius: 10px;
}
.cardtypeA{
  display : flex;
  flex-direction: 'row' ;
  align-items: center;
  padding: 8px 5px 8px 5px;
  border: 1px solid #000;
  border-radius: 10px;
  justify-content: center;
}
.typespace{
  display : grid;
  grid-template-columns:  1fr 1fr;
  gap: 15px;
}
.p2-server-row{
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
}
.p2-machine-row{
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
}
.p2-machine_txt{
  border : 1px solid #d6d6d6;
  border-radius: 11px;
  padding: 8px 5px 8px 5px;
  display: grid ; 
  grid-template-columns:  1fr 20px;
}
.p2-server_txt{
  border : 1px solid #d6d6d6;
  border-radius: 11px;
  padding: 8px 5px 8px 5px;
  display: grid ; 
  grid-template-columns:  1fr 20px;
}
.fivemachines{
  color : #767272 ;
  text-align: center;
  font-size: 12px;
}
.upgradebtn{
  border-radius: 10px;
  background-color: #8684A9;
  color: white;
  padding: 5px 10px 5px 10px ;
  cursor: pointer;
  display: grid;
  grid-template-columns: 30% 70%;
  justify-content: center;
  align-content: center;
}
.left-side-p3{
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 15px;
}
.cadreversionoff{
  border: 1px solid #5C5858;
  text-align: center;
  border-radius: 11px;
  color: #5C5858;
  padding: 8px 0 8px 0;
}
.cadreversionOn{
  border: 1px solid #5C5858;
  text-align: center;
  border-radius: 11px;
  background-color: #a09d9d;
  color: white;
  padding: 8px 0 8px 0;
}
.right-side-part{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.btndaveN{
  background-color : #3b78fc ; 
  border-radius :5px ;
  padding: 10px 0 10px 0 ;
  display: none;
}
.btndaveV{
  background-color : #446bc0 ; 
  border-radius :5px ;
  padding: 10px 0 10px 0 ;
  display: grid;
  grid-template-columns: 1fr;
}
.LottieL{
  display: none;
}
.LottieLN{
  display: inline;
}
.appnotdeclared{
  color : #767272;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 215px;
}
.deviceInfoNone{
  display: grid;
  align-items: center;
  text-align: center;
  color: #767272;
  height: 150px;
}
.deviceInfoS::before{
  content: 'Server';
  position: relative;
  background-color: #fff;
  width: 50px;
  top: 0;
  margin-top: -20px;
}
.deviceInfoS{
  color : #767272 ;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 10px;
  gap: 10px;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
}
.deviceInfoM::before{
  content: 'Machine';
  position: relative;
  background-color: #fff;
  width: 65px;
  top: 0;
  margin-top: -20px;
}
.deviceInfoM{
  color : #767272 ;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 10px;
  gap: 10px;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
}
.machineInfo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.isVMddevice{
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #fb4d4d;
  margin-right:  2.5px;
}
.isNVMddevice{
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #68CC45;
  margin-right:  2.5px;
}

/* add licence */

.dateformat{
  padding: 8px 5px 8px 5px;
  border-radius: 10px;
  border: .5px solid #d6d6d6;
}
.dateformat:focus{
  border-radius: 10px;
  border: .5px solid #000;
}
.dateEx{
  display: grid;
  grid-template-columns: 80px 1fr;
  align-items: center;
}
.dateExx{
  text-align: center;
  font-weight: 600;
}


/* Dashborad */

.timelable{
  margin-top: 60px;
  font-size: 50px;

}
.datelable{
  margin-top: 10px;
}
.dateInfopanel{
  display: flex;
  flex-direction: column;
}
.imgdashboradBG {
  position: absolute;
  right: 0;
  bottom: 0;
  width: auto;
  height: 400px;
}
.cadrSTlicence{
  background-color: #F47038;
  height: 90px;
  width: 90px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  margin-top: 30px;
}
.cadrST{
  background-color: #1868CF;
  height: 90px;
  width: 90px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  margin-top: 30px;
}
.panelcard{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  gap: 5px;
}
.panelcard{
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}
.ListCard{
  display: flex;
  flex-direction: row;
  gap: 70px;
  margin-top: 35px;
}
.hi{
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;

}
/* Devices */

.nodevices{
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  gap: 10px;
}
.ClientDevicesPanel{
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.clientNamePanel{
  background-color: #7672722f;
  padding: 8px 10px 8px 10px;
  border-radius: 8px;
}
.deviceItem{
  padding: 15px;
  border: 1px solid #d8d8d8;
  background-color: #fff;
  border-radius: 12px;
  display : flex;
  flex-direction: column;
  align-content: center;
  gap : 15px ;
  width: 320px;
}
.deviceItemBanned{
  padding: 15px;
  border: 1px solid #d8d8d8;
  background-color: #fff;
  color: #5C5858;
  border-radius: 12px;
  display : flex;
  flex-direction: column;
  align-content: center;
  gap : 15px ;
  width: 320px;
  position: relative;
  opacity: .7;
}
.deviceItemBanned::after{
  content: 'Banned';
  position: absolute;
  top: 0;
  bottom: 0;
  color: red;
  font-size: 4.5rem;
  font-weight: 700;
  transform: rotate(-20deg);
  margin-left: 20px;
  margin-top: 22px;
  opacity: .4;
}
.etatTypeOn{
 margin-top : 12px ;
 text-align: center ;
 background-color: rgba(67, 236, 67, 0.523);
 border-radius: 8px;
 padding: 5px 0 5px 0;
 font-size: 13px;
}
.etatTypeOff{
  margin-top : 12px ;
  text-align: center ;
  background-color: rgba(233, 97, 97, 0.523);
  border-radius: 8px;
  padding: 5px 0 5px 0;
  font-size: 13px;
}
.paneldevices{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}
.stats{
  margin-bottom: 15px;
  backdrop-filter: blur(8px);
}
.ConfigureDevice{
  position : absolute;
  inset: 0;
}
.configBG{
  backdrop-filter: blur(7px);
  position: absolute;
  inset: 0;
  overflow: auto;
  z-index: 1;
}

.ConfigureDevicePanel{
  width: 280px;
  height: 200px;
  position : absolute;
  align-self: center;
  justify-self: center;
  inset: 0;
  z-index: 0;
  background-color: #fff;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

.pageframeD{
  padding: .5rem 5rem 2rem 2.5rem;
  background-color: #F1F1F1;
  width: 100%;
  height: 100vh;
  overflow: auto;
}